<div class="bg-cover text-white text-center position-relative">
  <div class="overlay"></div>
  <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <h1 class="display-4">Italia</h1>
    <p class="lead">Speranza mi da vita.</p>
  </div>
</div>
<div class="container">
  <form>
    <div class="form-group">
   
    <app-menu></app-menu>
    <router-outlet></router-outlet>
   </div>
  </form>
</div>
<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <p class="mb-0">&copy; 2024 Todos los derechos reservados</p>
      </div>
      <div class="col-md-6">
        <a href="https://www.facebook.com/brenda.simbana.5/" target="_blank" class="text-white me-2 mr-2">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://github.com/brendasimbana1" target="_blank" class="text-white me-2">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.instagram.com/brendasimbana/" target="_blank" class="text-white me-2 ml-2">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>