<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">Descubre la Cultura Italiana</h1>
      <p class="lead">Explora sus tradiciones y lo más destacado de este país.</p>
    </div>
  </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Arte y Arquitectura</h5>
        <p class="card-text">
            El arte y la arquitectura de la antigua Roma sentaron las bases de la civilización occidental. Edificios icónicos como el Coliseo, el Panteón y los foros 
            romanos muestran la grandeza y la ingeniería avanzada de la época. Los romanos desarrollaron el arco, la bóveda y la cúpula, técnicas que influenciaron la construcción durante siglos.
            El Renacimiento italiano, que comenzó en el siglo XIV en Florencia, es uno de los periodos más brillantes de la historia del arte. Durante este tiempo, Italia produjo algunos de los 
            artistas más renombrados del mundo:
        </p>
        <ul class="card-text">
            <li>Leonardo da Vinci: Conocido por obras maestras como "La Mona Lisa" y "La Última Cena", Leonardo fue un genio polifacético cuyo trabajo abarcó pintura, escultura, arquitectura, ciencia e ingeniería.</li>
            <li>Miguel Ángel: Escultor, pintor y arquitecto, Miguel Ángel creó algunas de las obras más emblemáticas del Renacimiento, incluyendo la estatua de "David", el fresco de la Capilla Sixtina y la cúpula de la Basílica de San Pedro.</li>
            <li>Rafael: Sus pinturas, como "La Escuela de Atenas", son célebres por su perfección técnica y su belleza.</li>
        </ul>
        <div id="carouselExampleCaptions" class="carousel slide custom-carousel" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/leonardo.PNG" class="d-block w-100" alt="Leonardo Da Vinci">
                <div class="carousel-caption d-none d-md-block">
                  <p>Leonardo Da Vinci</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/miguel.PNG" class="d-block w-100" alt="Miguel Anguel">
                <div class="carousel-caption d-none d-md-block">
                  <p>Miguel Anguel</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/rafael.PNG" class="d-block w-100" alt="Rafael">
                <div class="carousel-caption d-none d-md-block">        
                  <p>Rafael</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Música</h5>
        <p class="card-text">
          La ópera italiana es famosa en todo el mundo, con compositores como Giuseppe Verdi y Giacomo Puccini que 
          han creado algunas de las obras más queridas y representadas en los teatros de ópera. Además, Italia 
          tiene una vibrante escena musical contemporánea que abarca desde el pop hasta la música clásica moderna.
        </p>
        <ul style="list-style: none;">
            <li>
                <p class="card-text" style="font-weight: bold;">Ópera</p>
                <p class="card-text">
                    Italia es el hogar de la ópera, un género que combina canto, actuación y orquesta. Compositores italianos 
                    como Giuseppe Verdi y Giacomo Puccini son famosos por sus óperas inmortales. Verdi es conocido por obras como 
                    "La Traviata" y "Aida", mientras que Puccini es célebre por "La Bohème" y "Madama Butterfly".
                </p>
            </li>
            <br>
            <li>
                <p class="card-text" style="font-weight: bold;">Música Clásica</p>
                <p class="card-text"> 
                    Además de la ópera, Italia ha producido muchos compositores de música clásica. Antonio Vivaldi, con su famoso "Las Cuatro Estaciones", 
                    y Ludovico Einaudi, un compositor contemporáneo cuyas obras minimalistas son muy populares, son ejemplos destacados.
                </p>
            </li>
            <br>
            <li>
                <p class="card-text" style="font-weight: bold;">Música Popular y Contemporánea</p>
                <p class="card-text"> 
                    En el siglo XX, Italia ha continuado siendo un influente en la música popular. Artistas como Luciano Pavarotti, uno de los tenores más
                    famosos del mundo, y cantantes pop como Eros Ramazzotti y Laura Pausini han llevado la música italiana a una audiencia global.
                </p>
            </li>
        </ul>
        <audio controls>
            <source src="../../../assets/invierno.mp3" type="audio/mp3">
            Tu navegador no soporta la etiqueta de audio.
          </audio>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Literatura</h5>
        <p class="card-text">
            La literatura italiana abarca una rica y diversa tradición que ha dejado una huella profunda en la
            historia cultural mundial. Desde la época clásica hasta la contemporánea, Italia ha producido una 
            pléyade de escritores célebres y obras emblemáticas. En la Edad Media, Dante Alighieri se destacó 
            con su obra maestra "La Divina Comedia", una epopeya poética que explora el viaje del alma a través
            del Infierno, el Purgatorio y el Paraíso. En el Renacimiento, autores como Giovanni Boccaccio con 
            "El Decamerón", una colección de cuentos que capturan la vida y las costumbres del siglo XIV, y 
            Nicolás Maquiavelo con "El Príncipe", un tratado político sobre el poder y la política, representan
             hitos literarios fundamentales. Durante el siglo XX, Italo Calvino se destacó con obras como "Las 
             Ciudades Invisibles", que fusiona lo imaginativo con lo filosófico, mientras que Umberto Eco 
             cautivó al público internacional con "El Nombre de la Rosa", una novela histórica y detectivezca 
             ambientada en una abadía medieval. La literatura italiana, caracterizada por su profundidad 
             temática y su belleza lingüística, continúa siendo una fuente de inspiración y estudio en todo el
            mundo.
        </p>
      </div>
      <img src="../../../assets/comedia.jpg" class="card-img-bottom" alt="Divina Comedia" style="width: 500px; margin: auto;">
    </div>
  </div>

  <div class="container my-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tradiciones y Festividades</h5>
        <p class="card-text">
          Italia celebra numerosas festividades coloridas y tradicionales. Desde el famoso Carnaval de Venecia hasta la Semana Santa y la Festa della Repubblica, las celebraciones italianas están llenas de historia, cultura y alegría.
        </p>
        <ul style="list-style: square;">
            <li>
                <span class="card-text" style="font-weight: bold;">Carnaval de Venecia</span>
                <p class="card-text">
                    Celebrado en Venecia, es famoso por sus elaboradas máscaras y disfraces, con raíces que se remontan al siglo XII.
                </p>
            </li>
            <li>
                <span class="card-text" style="font-weight: bold;">Semana Santa en Sicilia</span>
                <p class="card-text"> 
                    Especialmente en la ciudad de Enna, donde se lleva a cabo una procesión religiosa impresionante y emotiva.
                </p>
            </li>
            <li>
                <span class="card-text" style="font-weight: bold;">Palio di Siena</span>
                <p class="card-text"> 
                    Una carrera de caballos medieval que tiene lugar dos veces al año en la Plaza del Campo en Siena, con gran participación y fervor local.
                </p>
            </li>
            <li>
                <span class="card-text" style="font-weight: bold;">Festival de la Vendimia en Toscana</span>
                <p class="card-text"> 
                    Celebrado en septiembre en ciudades como Montepulciano y Greve in Chianti, donde se celebra la cosecha de uvas con desfiles, música y degustaciones de vino.
                </p>
            </li>
            <li>
                <span class="card-text" style="font-weight: bold;">Festa della Repubblica</span>
                <p class="card-text"> 
                    Celebrado el 2 de junio, conmemora el referéndum de 1946 que transformó a Italia en una república, con desfiles militares y festividades cívicas.
                </p>
            </li>
            <li>
                <span class="card-text" style="font-weight: bold;">La Giostra del Saracino en Arezzo</span>
                <p class="card-text"> 
                    Un torneo medieval que se celebra dos veces al año, en junio y septiembre, donde los jinetes compiten en habilidades con lanzas.
                </p>
            </li>
            <li>
                <span class="card-text" style="font-weight: bold;">Festival de la Máscara en Mamoiada, Cerdeña</span>
                <p class="card-text"> 
                    Celebrado en enero, destaca por sus antiguas tradiciones y las máscaras de madera "Mamuthones" y "Issohadores".
            </li>
        </ul>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6hpvYmSrnW0?si=z2YhzUZ-KxrJCyQr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="margin: auto;"></iframe>
    </div>
</div>