<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  routerLink="/informacion" routerLinkActive="activo">Información</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  routerLink="/cultura" routerLinkActive="activo">Cultura</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  routerLink="/gastronomia" routerLinkActive="activo">Gastronomía</a>
            </li>
          </ul> 
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/cuestionario" routerLinkActive="active">Cuestionario</a>
            </li>
          </ul>
        </div>
      
        <!--<ul class="navbar-nav ml-auto">
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active">LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/registro" routerLinkActive="active">REGISTRO</a>
              </li>
            </ng-container>
            <ng-template #loggedIn>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" (click)="authService.logout()">LOGOUT</a>
              </li>
            </ng-template>
          </ul>-->
    </div> 
</nav>
<!--<div class="container p-5">
    <router-outlet></router-outlet>
 </div>-->